/* Create button */
.create-btn {
  background: #2563eb;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
}

.create-btn:hover {
  background: #1d4ed8;
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

.modal-box input,
.modal-box textarea {
  width: 100%;
  margin-top: 10px;
  padding: 8px;
}

.modal-actions {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}